@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-width: 420px;
}

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}


/* slider */
.intro-section .container .row {
    height: 100vh;
    min-height: 840px;
}

.intro-section {
    position: relative;
}

/* background */
.intro-section:before {
    content: '';
    position: absolute;
    height: 80%;
    width: 70%;
    top: 0;
    left: 0;
    background-color: #352961;
    border-bottom-right-radius: 220px;
}

/* heading */
.intro-section h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: none;
    color: white;
    margin-left: 10px;
}

/* paragraph */
.intro-section p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    margin-left: 10px;
}

/* image-slider */
.custom-owl-carousel .owl-custom-direction a {
    display: inline-block;
    z-index: 1;
    padding: 15px 26px;
    position: relative;
    background: #dc3545;
    /* float: left; */
}

.custom-owl-carousel .owl-custom-direction a:hover {
    background-color: rgb(255, 60, 60);
    transition: 0.3s;
}

.custom-owl-carousel .owl-custom-direction a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-owl-carousel .owl-custom-direction a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.custom-owl-carousel .owl-custom-direction {
    position: absolute;
    bottom: 20px;
    z-index: 5;
    left: 28%;
    transform: translateX(50%);
}

.custom-owl-carousel .owl-custom-direction a i {
    color: white;
}

/* image */
.custom-owl-carousel .slide-one-item-alt {
    border-top-left-radius: 170px;
    overflow: hidden;
    box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.4);
    
}

.slide-one-item-alt img {
    width: 100%;
    height: 100%;
}

/* navbar */
.header {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 100%;
    background: white;
}

.header-inner {
    position: absolute;
    width: 100%;
    top: 0;
    background: white;
    z-index: 12;
    left: 0;
}

/* logo */
.navbar img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar .logo:hover {
    border: 1.5px solid black;
    border-radius: 3px;
}

/* website name */
.navbar-brand {
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

.navbar-brand:hover {
    color: black;
}

.navbar-nav .nav-item {
    position: relative;
}

/* links*/
.nav-item .nav-link {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    padding: 18px 10px;
    transition: 0.4s ease;
}

.nav-item .nav-link:hover {
    font-weight: 450;
    transition: 0.3s;
    color: red;
}

.header-btn {
    background: #dc3545;
    border-color: #dc3545;
    padding: 8px 17px;
    border-radius: 3px;
    color: white;
}

.header-btn:hover {
    border: 1px solid #dc3545;
    color: #dc3545;
    text-decoration: none;
    background: transparent;
}

.navbar-scroll {
    position: fixed !important;
    top:0% !important;
    right: 0;
    left: 0;
    z-index:779! important;
    background-color:#fff !important;
    padding: 0px 0;
	transition: all 0.25s ease;
    box-shadow: 0 0 6px #c0c0c0;
}


@media only screen and (min-width: 1200px) {
    .nav-item .nav-link {padding: 25px 20px;}
}

@media only screen and (max-width: 992px) {
    .header-inner {
        position: absolute;
        box-shadow: 0 0 6px #c0c0c0;
        width: 100%;
        top: 0 !important;
        z-index: 30;
        left: 0;
    }
}

/* hamburger animation */
.navbar-toggler:focus, .navbar-toggler, .navbar-toggler-icon, .navbar-toggler-icon:focus {
    border: 0px solid transparent !important;
    box-shadow: none !important;
    outline: none !important;
}

#nav-icon1 {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 5px auto 0px auto;
    transform: rotate(0deg);
    transition: 0.5 ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100px;
    border-radius: 4px;
    background: black;
    opacity: 1;
    right: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top:0;
    width: 100%;
}

#nav-icon1 span:nth-child(2) {
    top:9px;
    width: 90%;
}

#nav-icon1 span:nth-child(3) {
    top:18px;
    width: 80%;
}

#nav-icon1.ham-open span:nth-child(1) {
    top: 9px;
    width: 100%;
    transform: rotate(135deg);
}

#nav-icon1.ham-open span:nth-child(2) {
    right: -30px;
    opacity: 0;
    width: 100%;
}

#nav-icon1.ham-open span:nth-child(3) {
    top: 9px;
    width: 100%;
    transform: rotate(-135deg);
}

@media only screen and (max-width: 992px) {
    .header-inner {
        padding: 10px 0px !important;
    }
    .nav-item .nav-link {
        color: white !important;
    }
    /* side menu */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        overflow: auto;
        height: 100%;
        background: #110d23;
        width: 50%;
        transform: translateX(-100%);
        transition: all ease 0.29s;
        padding-left: 10px;
        padding-top: 20px;
    }

    .mobile-menu .nav-link {
        margin-left: 20px;
    }

    .mobile-menu .form-inline .header-btn {
        margin-left: 20px;
    }

    .mobile-menu .form-inline .header-btn:hover {
        border-color: white;
        color: white;
    }

    .intro-section::before {
        height: 100%;
        width: 100% !important;
        background: #352961;
        border-bottom-right-radius: 0px !important;
       
    }

    .intro-section {
        padding-top: 90px !important;
        margin-bottom: 370px;
    }

    .intro-section .slide-text {
        margin: 10px 50px;
    }

    .intro-section .slide-text h1 {
        font-size: 3rem;
        font-weight: 650;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .intro-section .slide-text p {
        margin-bottom: 15px;
        text-align: center;
    }

    .intro-section .slide-text .btn {
        margin-bottom: 100px;
    }
}

/* cross-icon */
.open-nav {
    transform: translateX(0%) !important;
}

@media only screen and (max-width: 766px) {
    .intro-section {
        margin-bottom: 280px;
    }

}

/* Section-1 */
.about > h1 {
    /* padding-top: 15vmin; */
    padding-bottom: 0.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
  
.about > p {
    color: black;
    font-size: 3vmin;
    padding-bottom: 10vmin;
}
  
.about .cards .card {
width: 22rem;
margin: 3vmin 3vmin;
/* border-color: #7d788b; */
}
  
.cards div {
padding: 0;
margin: 0;
}

.cards .title {
background: rgba(250, 206, 219, 0.199);
padding: 1.4em 2.5em;
font-size: 2vmin;
}

.card .card-text {
padding: 2.5rem 3rem;
color: black;
}

.card-body .icon {
background: rgba(250, 206, 219, 0.199);
border-top-right-radius: 170px;
border-top-left-radius: 170px;
}

.card-body .icon > h1 {
font-size: 10vmin;
padding: 1em 0.5em;
color:#544d72;
}


.card-body .icon > a {
    background-color: white;
    color: #352961;
    border: 1px solid;
}

.card-body .icon > a:hover {
    background-color: #463b6d;
    color: white;
    border: none;
    outline: none;
}

/* Section-2 */

.section-2 {
    margin-top: 150px;
    margin-bottom: 130px;
}

.cover {
    width: 100%;
    height: 55vmin;
    background: #352961;
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}
  
.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
}

.cover .content {
    width: 100%;
    height: 100%;
    background:#352961;
    padding-top: 19vmin;
}

.cover .content > h1 {
    font-size: 6vmin;
    color: white;
}
  
.cover .content > p {
    font-size: 2vmin;
    color: #e5e5e5;
}

.popcrs .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 20rem;
    height: 14rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.popcrs {
    margin-top: -15vmin;
}

.popcrs .rect h1 {
    font-size: 2rem;
    color: #dc3545;
    margin-top: 10px;
}

.popcrs .rect .btn {
    background-color:#dc3545;
    color: white;
}

.popcrs .rect .btn:hover {
    border: 1px solid #dc3545;
    color: #dc3545;
    text-decoration: none;
    background: transparent;
    font-weight: bolder;
}

.popcrs .rect p {
    margin-top: 12px;
    margin-bottom: 35px;
}


/* footer */
footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}
  
footer input {
    border: none !important;
}
  
footer input::placeholder {
    color: white !important;
}
  
footer .input-group .input-group-text {
    background: #dc3545;
    border: none;
}
  
footer .column i {
    color:#dc3545;
}

footer .column i + i {
    padding: 0 0.5em;
}
  
