@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.box1{
    max-width: 700px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    
}
.box1::before,
.box1::after{
    content: '';
    clear: both;
    display: table;
}

.hide{
    display: none;
}

.box1 h2{
    margin-bottom: 15px;
}

.box1 p{
    margin-bottom: 10px;
}

.start-btn,.btn{
    margin-top: 4%;
    padding: 15px 45px;
    background-color: #004e92;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
}

.quiz-box{
    max-width: 700px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    
}

.quiz-box .question-number{
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;

}
.quiz-box .question{
    font-size: 22px;
    color: black;
    line-height: 28px;
    padding: 20px 0 ;
    margin: 0;

}

.quiz-box .option-container .option{
    background-color: #cccccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}

 .quiz-box .option-container .option.correct::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(150, 240, 150,0.4);
 }
 .quiz-box .option-container .option.correct{
     color: black;
     
 }
 .quiz-box .option-container .option.wrong::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(146, 50, 38, 0.4);
 }
 .quiz-box .option-container .option.wrong{
     color: black;
     
 }
 


.result-box{
    max-width: 700px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    
}

.result-box h1{
    line-height: 42px;
    color: #004e92;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
}
.result-box .btn{
    margin-right: 20px;
}
@media(max-width: 767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
}